@import './variables.scss';

/* BUTTONS */
.btn-default {
  padding: 10px 20px;
  color: $text-color;
  background-color: $primary-color;
  border: none;
  outline: none;
}

.btn-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}