form {
  max-width: 500px;
  margin: 0 auto;
}

.form-row {
  margin: 20px 0;
}

.form-row input,
.form-row textarea,
.form-row select {
  display: block;
  margin-top: 10px;
}

.form-row input,
.form-row select {
  height: 30px;
}

.form-row input {
  padding: 0 10px 0 10px;
  width: 100%;
}

.form-row textarea {
  height: 100px;
  width: 100%;
  padding: 10px;
}

.form-row select {
  width: 100px;
}

.button-submit {
  margin: 20px 0 40px 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  outline: none;
}