.diagram {
  width: 400px;
  height: 200px;
  background-color: #7f8c8d;
  margin: 20px auto;
}

.btn-default {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  outline: none;
}